{% extends 'base.html.twig' %}

{% block body  %}

<h1>Welcome</h1>

<!-- path() создаёт относительный путь -->
<a href="{{ path('product_index') }}">Products</a>

<!--
     url() создаёт абсолютный путь
<a href="{{ url('product_index') }}">Products</a>
-->

{% endblock %}